html,body{
    margin: 0;
    background-color:rgb(240, 240, 240) ;
}
nav{
position: relative;
width: 100%;
background-color:rgb(240, 240, 240) ;
}
nav a{
    position: relative;
    text-decoration: none;
    padding-left: 60px;
  top: 20px;
 justify-self: center;
}
nav img{
    width: 100px;
    height: 70px;
    position: relative;
    padding-left: 60px;
  top: 40px;
 justify-self: center;
}
nav hr{
    position: relative;
    margin-top: 40px;
}
.btn{