body {
    font-family: 'Space Grotesk', sans-serif;
    background-color: #FAFAFA;
    overflow-x:hidden;
  }
  .entry-text{
      color: #2549D3;
  }
  .whitebox{
      background-color:white;
  }

   .fa{
       margin-left: 2px;
   }
   .bold-text {
    font-family: 'Space Grotesk', sans-serif;
    color: #2549D3;
    font-size: 36px;
    font-weight: 600;
   
    text-align: left;
  }

  .sub-text {
    font-family: 'Space Grotesk', sans-serif;
    font-size: 16px;
   
    text-align: left;
  }

  .cta {
    margin-top: 20px;
    float: left;
   
  }

  .cta a {
    padding: 12px;
    background: aliceblue;
    border-radius: 5px;
    background-color: #2549D3;
    color: white;
    text-decoration: none;
    margin-top: 15px;
  }

  a {
    text-decoration: none;
  }
  .filter-name{
      color:#2549D3;
  }

  .filter {
    background-color: white;
    border-radius: 10px;
    margin: 10px 150px 40px 150px;
    height:100px;
    border-radius:20px;
    display: flex;
align-content: stretch;
justify-content: space-evenly;
align-items: center;
  }

  .img {
    height: auto;
    width: 100%;
  }
  .footer{
      background-color: #0F298B;
color: white;
margin:0;
}
.fe-text{
display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: space-evenly;
align-items: baseline;
align-content: center;
}

 
  header {
    display: flex;
    align-items: center;
    padding: 20px 2%;
    width:100%;
    justify-content: space-around;
  }
nav{
margin-left:250px;
}
  .nav_links {
    list-style: none;
  }

  .nav_links li {
    display: inline-block;
    padding: 0px 10px;
  }

  .nav_links li a {
    transition: all 0.3s ease 0s;
    color: black;
  }

  .nav_links li a:hover {
    color: #2549D3;
  }
 
  .featured-properties
       {

float: left;
width: 29.33%;
margin: 16px;
background-color: white;
  }
  .align{
      text-align:left;
      margin:5px;
  }

  .bt-1 {
    margin-left: 20px;
    padding: 9px 10px;
    background-color: #2549D3;
    border: 0;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.3s ease 0s;
    outline: none;
  }

  .bt-1 a {
    color: white;
  }
  .smallimg{
      height:100%;
      width:100%;
  }

  button {
    border: none;
    background-color: transparent;
    outline: none;
  }
 
  .container-image{
      height:100px;
  }

  .column {
    float: left;
width: 30.33%;
background-color: white;
margin: 15px;
  }
  ul{
      list-style:none;
  }

  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  /* corrections */
  .row {
    text-align: center;
  }
  .btn{
     
      margin-right: 30px;
      padding: 12px;
      border-radius: 5px;
      border: none;
      background-color: #2549d3;
      outline: none;
      color: white;
      float: right;
  }

  .colum {
    float: left;
    width: 25%;
    text-align: initial;
  }

  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  .pane {
    float: left;
    width: 50%;
  }

  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  .col {
    float: left;
    width: 33.33%;
  }

  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  .row{
text-align: center;
padding: 20px;
}
.price{
    color: #2549D3;
    font-weight: 600;
    margin-top: 20px;
}
.text{
margin-left:5px;
}
.flex-container{
display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */

justify-content: center;
align-items: center;
}
.logo{
font-family: 'Oleo Script', cursive;
    font-size: 20px;
}
.icons{

    display: flex;
    align-content: flex-end;
    justify-content: space-between;
    margin-left: -40px;

}
 .fa-check-square{
      color:#2549D3;;
  }
